{% extends 'base.html' %}
{% block title %} 欢迎光临首页 {% endblock %}

{% block content %}
{#{% include 'ad.html' %}#}
{#{{ string }}#}

{#    {%  for i in TutorialList %}#}
{#    <li>{{ i }}</li>#}
{#    {% endfor %}#}

{#站点:{{ info_dict.site }} 内容: {{ info_dict.content }}#}

{#{% for k,v in info_dict.items %}#}
{#    {{ k }}:{{ v }}#}
{#    {% endfor %}#}
{##}
{#{% for item in List %}#}
{#    {{ item }}{% if not forloop.last %},{% endif %}#}
{#{% endfor %}#}
{##}
{#    <ul>#}
{#    {% for athlete in athlete_list %}#}
{#    <li>{{ athlete.name }}</li>#}
{#    {% empty %}#}
{#    <li>抱歉，列表为空</li>#}
{#    {% endfor %}#}
{#    </ul>#}
{##}
{#{% url 'add' 4 5 %}#}

{% if request.user.is_authenticated %}
    {{ request.user.username }},您好！
{% else %}
    请登陆，这里放登陆链接
{% endif %}
{{ request.path }}
    {{ request.GET.urlencode }}
    <a href="{{ request.path }}?{{ request.GET.urlencode }}&delete=1">当前网址加参数</a>
{% endblock %}