<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A AWESOME WEB !</title>
    <link rel="stylesheet" href="static/css/semantic.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/semantic.js"></script>
  </head>
  <body>
    <button class="ui primary button">Save </button>
    <button class="ui button">Discard </button>
    <div class="ui labeled button" tabindex="0">
  <div class="ui red button"><i class="heart icon"></i> Like </div>
  <a class="ui basic red left pointing label">
    1,048
  </a>
</div>
<div class="ui labeled button" tabindex="0">
  <div class="ui basic blue button"><i class="fork icon"></i> Forks </div>
  <a class="ui basic left pointing blue label">
    1,048
  </a>
</div>
</div>
  </body>
</html>
